/* index */
:root {
	--black: #000;
	--white: #fff;
	--blue: #2196f3;
	--grey: #757575;
	--darkgrey: #2f303a;
	--icongrey: #afb1b8;
	--cream: #f5f4fa;
	--transition: cubic-bezier(0.4, 0, 0.2, 1);
	--text-center: center;
}
body {
	font-family: 'Roboto', 'Raleway', sans-serif;
	color: var(--black);
	font-size: 14px;
	margin: 0;
	padding: 0;
}
li {
	list-style-type: none;
}
.wrapper {
	background-color: var(--white);
	margin: 0 auto;
}
.container {
	width: 1200px;
	margin: 0 auto;
}
.header {
	align-items: center;
	gap: 93px;
	flex-direction: row;
	padding: 25px 0 24px 0;
	display: flex;
}
.header__link {
	color: var(--black);
	font-weight: 500;
	text-decoration: none;
}
.contacts__link-s, .footer__link-s {
	display: flex;
	color: var(--grey);
	font-weight: 500;
	text-decoration: none;
}
.contacts__link-s:hover {
	color: var(--blue);
}
.link-blue:hover,
.header__link:hover {
	color: var(--blue);
}

.header__link[title]:focus {
	color: var(--black);
}
.header__link[title]:hover {
	color: var(--blue);
}
.header__link-current::after {
	content: ' ';
	display: block;
	height: 4px;
	bottom: 0;
	left: 0;
	background-color: var(--blue);
	transform: translateY(29px);
	border-radius: 2px;
	pointer-events: none;
}
.list-style > li {
	list-style-type: none;
}
.header__nav-li {
	display: flex;
	list-style: none;
	line-height: 1.2;
	margin: 0;
}
.contacts {
	gap: 50px;
	padding: 0 0 0 278px;
	margin: 0;
}
.header__logo-style {
	font-family: 'Raleway';
	color: var(--black);
	font-size: 26px;
	font-weight: 700;
	line-height: 1.193;
	letter-spacing: 0.03em;
}
.logo-style-footer {
	font-family: 'Raleway';
	color: var(--white);
	font-size: 26px;
	font-weight: 700;
	line-height: 1.193;
	letter-spacing: 0.03em;
}
.logo-style-footer:hover {
	color: var(--white);
}

.header__logo-style:hover {
	color: var(--black);
}
.blue-text {
	color: var(--blue);
}
.header__nav-style {
	gap: 46px;
	line-height: 1.2;
	padding: 0;
}
.top-nice {
	width: 100%;
	background-color: var(--darkgrey);
}
.top {
	background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%),
		url('../images/portfolio.jpg');
	background-repeat: no-repeat;
	width: 1600px;
	background-size: auto;
	color: var(--white);
	display: flex;
	gap: 30px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 200px 0;
}
.top-text {
	font-size: 44px;
	font-weight: 900;
	text-align: var(--text-center);
	line-height: 1.364;
	letter-spacing: 0.06em;
}
.no-margin {
	margin: 0;
}
.no-padding {
	padding: 0;
}
.card {
	padding: 94px 0 0 0;
	display: flex;
	flex-direction: row;
	gap: 30px;
	justify-content: center;
}
.card__title {
	font-weight: 700;
	color: var(--black);
	margin: 0 0 10px 0;
	font-size: 14px;
	line-height: 1.145;
}
.card__text {
	color: var(--grey);
	line-height: 0.03em;
	line-height: 1.71;
	width: 270px;
	margin: 0;
}
/* Services section */
.services {
	align-items: center;
	flex-direction: column;
	padding: 94px 0 94px 0;
}
.services-header {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.166666666666667;
	text-align: var(--text-center);
	color: var(--black);
	margin: 0px 0 50px 0;
}
.services-li {
	display: flex;
	flex-direction: row;
	gap: 30px;
	margin: 0;
	justify-content: center;
}
.service-item {
	position: relative;
}
.img-label {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 0;
	width: 100%;
	font-weight: 700;
	line-height: 1.14;
	text-align: var(--text-center);
	text-transform: uppercase;
	padding: 27px 0px;
	color: var(--white);
	background-color: rgba(47, 48, 58, 0.8);
}
/* Services section */
.button-port:hover {
	color: var(--white);
	background-color: var(--blue);
	cursor: pointer;
}
.button-index {
	display: inline-block;
	padding: 16px 32px;
	border-radius: 4px;
	border-style: none;
	background-color: var(--blue);
	color: var(--white);
	font-family: sans-serif;
	font-size: 16px;
	text-decoration: none;
	font-weight: 700;
	cursor: pointer;
	transition-property: background-color;
	transition-duration: 2s;
}
.button-index:hover {
	color: var(--blue);
	background-color: var(--white);
	border-style: none;
	border-radius: 4px;
	font-weight: 700;
	font-size: 16px;
	cursor: pointer;
}
.team-background {
	background-color: var(--cream);
	padding: 94px 0;
}
.team {
	align-items: center;
	flex-direction: column;
}
.team-li {
	display: flex;
	flex-direction: row;
	gap: 30px;
	justify-content: center;
}
.team-card {
	width: 270px;
	height: 428px;
	background-color: var(--white);
	margin: 0;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
	text-align: var(--text-center);
}
.team-name {
	color: var(--black);
	margin: 30px 0 10px 0;
	line-height: 1.1875;
	font-size: 16px;
	font-weight: 500;
}
.team-p {
	color: var(--grey);
	margin: 0 0 30px 0;
	line-height: 1.1875;
	font-size: 16px;
}
.product-card-header {
	margin: 20px 0 4px 24px;
	line-height: 36px;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 0.06em;
}
.product-card-text {
	color: var(--grey);
	margin: 0 0 0 24px;
	line-height: 30px;
	font-size: 16px;
	font-weight: 400;
}

.partners-header {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.166666666666667;
	text-align: var(--text-center);
	color: var(--black);
	margin: 95px 0 50px 0;
}
/* Portfolio only*/
.line {
	border-bottom: var(--cream) solid 1px;
}
.buttons {
	display: flex;
	justify-content: center;
	gap: 8px;
	margin: 94px 0 0 0;
	list-style: none;
}
.button-port {
	color: var(--black);
	background-color: var(--cream);
	border-style: none;
	border-radius: 4px;
	width: 121px;
	height: 38px;
	font-weight: 700;
	font-size: 16px;
}
.container-product {
	display: flex;
	gap: 30px;
	flex-wrap: wrap;
	margin-top: 50px;
	margin-bottom: 94px;
	list-style: none;
	justify-content: center;
}
.product-borders {
	border: solid 1px #eeeeee;
	border-top-style: none;
	flex-basis: calc((100% - 90px) / 4);
	height: 404px;
	margin: 0;
}
/* Portfolio only*/
/* portfolia anim  */
.portfolio-label {
	position: relative;
	overflow: hidden;
}
.portfolio-text {
	position: absolute;
	margin-top: 0px;
	margin-left: 0px;
	width: 372px;
	background: rgba(33, 150, 243, 0.9);
	font-size: 18px;
	line-height: 1.56;
	color: var(--white);
	padding: 49px 45px 49px 24px;
	transform: translateY(100%);
	transition: 250ms transform var(--transition);
	cursor: pointer;
	border: solid 1.4px rgba(33, 150, 243, 0.9);
}
.product-borders:hover .portfolio-text {
	transform: translateY(0);
}
/* portfolia anim  */
/* Icons svg only no footer*/
.svg-top-one {
	fill: var(--grey);
	display: flex;
	margin-right: 10px;
}
.icon-spacing {
	margin-right: 10px;
}
.svg-top-two {
	display: flex;
	margin-right: 10px;
	fill: var(--grey);
}
.svg-top-one:hover {
	fill: var(--blue);
}
.svg-top-two:hover {
	fill: var(--blue);
}
.svg {
	background-color: var(--cream);
}
.icon {
	width: 270px;
	height: 120px;
}
.member-social-icon {
	fill: var(--icongrey);
	width: 44px;
	height: 44px;
	border-radius: 50%;
}
.member-social-icon:hover,
.member-social-icon:focus {
	background-color: var(--blue);
	fill: white;
}
.member-social {
	display: flex;
	justify-content: flex-start;
	margin-top: 16px;
	margin-left: -10px;
	gap: 10px;
}
.partners {
	display: flex;
	flex-direction: row;
	gap: 30px;
	padding-bottom: 94px;
	padding-left: 15px;
}
.icons-partners {
	width: 170px;
	height: 92px;
	border: 1px solid var(--icongrey);
	border-radius: 4px;
	fill: var(--icongrey);
}
.icons-partners:hover {
	fill: var(--blue);
	border-color: var(--blue);
}
/* Icons svg only */
/* footer */
.footer {
	background-color: var(--darkgrey);
	width: 100%;
	padding: 60px 0;
	margin-top: 60px;
}
.footer-container {
	color: var(--white);
	display: flex;
	flex-direction: row;
}
.footer__footer-contacts {
	width: 246px;
}
.join-us {
	display: flex;
	font-weight: 700;
	color: var(--white);
	text-transform: uppercase;
	margin-left: 70px;
	margin-bottom: 20px;
	font-weight: 14px;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-end;
}
.footer-link-li {
	list-style: none;
	padding: 0;
}
.footer-link-li li {
	margin: 9px 0 9px 0;
}
.address-text {
	color: var(--white);
	margin: 20px 0 0 0;
	font-style: normal;
}
.footer-container-social {
	margin-top: 72px;
}
.social-cont {
	display: flex;
	gap: 10px;
	margin-left: 70px;
	list-style: none;
	padding: 0;
}
.footer-social-li {
	display: flex;
	gap: 10px;
}
.footer-social-icons {
	fill: var(--white);
	background-color: rgba(255, 255, 255, 10%);
	border-radius: 50%;
	color: var(--grey);
	width: 44px;
	height: 44px;
	cursor: pointer;
}
.footer-social-icons:hover,
.footer-social-icons:focus {
	background-color: var(--blue);
}
/* footer */
/* newsletter */
.footer-newsletter {
	margin-left: 78px;
}
.form-newsletter {
	display: flex;
	align-items: center;
}
.input-newsletter {
	width: 358px;
	height: 50px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	background-color: var(--darkgrey);
	font-size: 16px;
	line-height: 1.25;
	color: rgba(255, 255, 255, 0.6);
	padding: 15px 16px;
	outline: none;
}
.footer-header {
	font-weight: 700;
	line-height: 1.14;
	text-transform: uppercase;
	color: var(--white);
	margin-bottom: 20px;
}
.btn-newsletter {
	display: flex;
	align-items: center;
	text-align: center;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;
	fill: var(--white);
	color: var(--white);
	width: 200px;
	height: 50px;
	background: var(--blue);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	margin-left: 12px;
	border: none;
	padding: 10px 0 10px 42px;
	cursor: pointer;
}
.icon-btn-newsletter {
	margin-left: 24px;
}
/* newsletter */
/* modal */
.modal {
	display: flex;
	top: 50%;
	left: 50%;
	width: 528px;
	height: 581px;
	background-color: var(--white);
	position: fixed;
	z-index: 1;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	border: 1px solid var(--white);
	margin: auto;
	transition-property: visibility, opacity, transform;
	transition-duration: 2s;
	transform: translateX(-50%) translateY(-50%) scale(1) rotate(720deg) skew(0deg, 0deg);
	opacity: 1;
	visibility: visible;
	display: block;
}
.modal:hover {
	opacity: 1;
}
.is-hidden {
	pointer-events: none;
	opacity: 0;
	visibility: hidden;
	transform: translateX(-50%) translateY(-50%) scale(0) rotate(0deg) skew(40deg, 40deg);
}
.header-modal {
	position: relative;
	margin: 0 0 10px 0;
	font-weight: 700;
	font-size: 20px;
	line-height: 1.15;
	text-align: center;
	color: var(--black);
	padding-top: 30px;
}
.form-modal {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0px 40px 0px 40px;
}
.label-modal {
	display: block;
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.01em;
	color: var(--grey);
}
.input-modal {
	width: 448px;
	height: 40px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	margin-top: 4px;
	margin-bottom: 10px;
	padding: 12px 12px 12px 42px;
	transition: border-color 250ms var(--transition);
}
.input-modal-icon {
	fill: var(--black);
	transition: fill 250ms var(--transition);
}
.form-highlight:hover > .input-modal,
.form-highlight:focus-within > .input-modal,
.form-highlight:hover > .input-modal-text,
.form-highlight:focus-within > .input-modal-text,
.form-highlight:hover > .input-modal-icon,
.form-highlight:focus-within > .input-modal-icon {
	fill: var(--blue);
	border-color: var(--blue);
	outline: none;
}
.icon-per {
	position: absolute;
	top: 97px;
	left: 55px;
}
.icon-tel {
	position: absolute;
	top: 164px;
	left: 55px;
}
.icon-mail {
	position: absolute;
	top: 233px;
	left: 55px;
}
.input-modal-text {
	width: 448px;
	height: 120px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	margin-top: 4px;
	margin-bottom: 20px;
	resize: none;
	padding: 12px 16px;
	transition: border-color 250ms var(--transition);
}
.user-agreements {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
}
.agreement-text {
	padding-left: 8px;
}
.agreement-link {
	color: var(--blue);
	text-decoration: underline;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.agreement-link:hover,
.agreement-link:focus {
	color: var(--blue);
}
.btn-modal-send {
	width: 200px;
	height: 50px;
	background-color: var(--blue);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
	color: var(--white);
	border: none;
	padding: 10px 76px;
	margin: 0 auto;
	cursor: pointer;
}
/* checkbox */
.user-checkbox-label {
	display: flex;
	flex-direction: row;
	gap: 8px;
	align-items: center;
	position: relative;
	padding: 10px 0 20px 15px;
}
.checkbox {
	width: 16px;
	height: 15px;
	left: 15px;
	opacity: 0;
	pointer-events: visible;
}
.user-checkbox-label input:checked ~ .checkbox-svg {
	background-color: var(--blue);
	fill: var(--blue);
}
.vector {
	fill: var(--white);
}
.checkbox-svg {
	width: 16px;
	height: 15px;
	left: 15px;
	cursor: pointer;
	position: absolute;
	fill: var(#212121);
	border-radius: 10%;
	transition-property: fill;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-svg:hover {
	fill: var(--blue);
}
/* X */
.btn {
	position: absolute;
	top: 8px;
	right: 8px;
	width: 30px;
	height: 30px;
	background-color: var(--white);
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	cursor: pointer;
}
.btn:hover {
	color: var(--blue);
	border-color: var(--blue);
}
