$primary-color: #fff;
$primary-text: #757575;
$secondary-text: #212121;
$hover-text: #2196f3;
$border: #eeeeee;
$logo-color: #000;
$background-card: #f5f4fa;
$background-footer: #2f303a;
$icon-background: #afb1b8;